body {
    font-family: sans-serif;
    width: 1024px;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    margin: auto;
    
}

.h2 {
    font-family: "HelveticaNeue-Bold", sans-serif;
}

.p {
    width: 250px;
    font-size: 12px;
    font-family: "HelveticaNeue-Regular", sans-serif;
    color: #cccccc;
    margin-top: 15px;
    line-height: 20px;
    
}


.image, .first, .image1, .second {
    display: inline-block;
}

.green-block {
    width: 100%;
    height: 180px;
    background: #34a56d;
}

div {
    margin: 10px;
}

.h1 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 70px;
    padding-left: calc((100% / 2 - 300px) + 25px);
}

.p1 {
    color: white;
    font-size: 14px;
    font-family: "HelveticaNeue-Regular", sans-serif;
    padding-left: calc((100% / 2 - 300px) + 25px);
    padding-top: 10px;
}

.button {
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    color: #34a56d;
    text-transform: uppercase;
    border: none;
    margin-left: calc((100% / 2 - 300px) + 405px);
    position: relative;
    top: -50px;
}













